.navbar {
    width: 100%;
    height: 80px;
    background-color: $eerie-black;
    #navbarNav {
        justify-content: flex-end;
        background-color: $eerie-black;
        width: 100%;
    }
    a {
        color: $white;
        font-size: $medium;
    }
}

.navbar__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    padding-left: 20px;
    width: 80px;
}

.navbar--toggle {
    width: 26px;
    height: 30px;
    filter: invert(1);
}