//Esquema de colores
//Primer esquema
$white: #fff;
$platinum: #e6e7e7;
$light-gray:#d1d1d1;
//Segundo esquema
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
//Tercer esquema
$black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;
//font family
$roboto: 'Roboto',
sans-serif;
//font weight
$regular: 400;
$light: 300;
//font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;